// header
$header-nav-hover-bg: #420808;
$header-mobile-nav-hover-bg: #666666;
$header-nav-text: #ffffff;
$header-last-name-text: #ffffff66;
$header-mobile-btn-bg: #b8b0b0;
$header-mobile-btn-content-bg: #666666;
$header-mobile-menu-close-btn-bg: #ffffff;

// index page
$main-leftside-bg: #b8b0b0;
$main-rightside-bg: #666666;
$main-hello-text: #dcd8d8;
$main-name-text: #fff;
$main-job-text: #ffffffcc;

// about page
$about-bg: #e6bd79;