@import '../absract/mixin.scss';
@import '../absract/variables.scss';

.index-main {
  @include flexCenter;

  height: 100%;
}

.introduce-section {
  @include flexCenter;

  position: relative;
  width: 40%;
  height: 100%;
  background-color: $main-leftside-bg;

  .introduce-container {
    @include absCenter;
    left: 84%;
    @include flexCenter;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    margin-left: 13.5rem;

    div {
      margin-bottom: 2rem;

      @include respond(tab-land) {
        margin-bottom: 4rem;
      }
    }

    @include respond(tab-land) {
      left: 65%;
    }

    @include respond(tab-port) {
      left: 42%;
    }
  }
}

.introduce {
  &__hello {
    font-size: 2.4rem;
    color: $main-hello-text;

    @include respond(tab-land) {
      font-size: 4rem;
    }

    @include respond(tab-port) {
      font-size: 3rem;
    }
  }

  &__name {
    font-size: 7rem;
    font-weight: 700;
    color: $main-name-text;

    @include respond(tab-land) {
      white-space: nowrap;
    }

    @include respond(tab-port) {
      font-size: 5rem;
    }

  }

  &__pr {
    font-size: 3.5rem;
    color: $main-job-text;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }

  &__contact {
    position: relative;
    font-size: 2rem;
    color: $main-job-text;

    &::before {
      position: absolute;
      top: 50%;
      right: -30px;
      width: 30px;
      height: 2px;
      content: '';
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.8);
    }

    &::after {
      position: absolute;
      top: 0;
      right: -40px;
      bottom: 0;
      content: '';
      width: 100%;
      background: #aea5a5;
      z-index: -1;
    }

    @include respond(tab-land) {
      font-size: 3.5rem;
    }

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
}

.photo-section {
  width: 60%;
  height: 100%;
  background-color: $main-rightside-bg;
}