@import '../../absract/mixin.scss';
@import '../../absract/variables.scss';

.main-header {
  @include flexCenter;
  justify-content: flex-start;

  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 4.7rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;

    & span:last-child {
      color: $header-last-name-text;
    }
  }
}

.title-container {
  @include flexCenter;

  width: 40%;
  height: 100%;
  padding-left: 14rem;
  background-color: $main-leftside-bg;
}

.navi {
  @include flexCenter;

  justify-content: flex-start;
  width: 60%;
  height: 100%;
  padding-left: 10rem;
  background-color: $main-rightside-bg;
}