@import "../../absract/variables.scss";
@import "../../absract/mixin.scss";

.navi__anchor:hover {
  color: $header-nav-hover-bg;
}

.current-path {
  color: $header-nav-hover-bg !important;
}

.navi__anchor {
  margin-left: 4rem;
  font-size: 1.2rem;
  color: #ffffff;

  @include respond(tab-land) {
    font-size: 1.8rem;
  }

  @include respond(tab-port) {
    margin-left: 2rem;
    font-size: 1.3rem;
  }
}